<!--
/*
File name:bottom_nav.ejs
Student name: Gagandeep kaur
Student id: 301144458
Date: 22-10-2021
*/

-->

<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <h2 class="display-6 navbar-text">Author: Gagandeep Kaur</h2>
    </nav>
  </footer>