<!--
/*
File name:home.ejs
Student name: Gagandeep kaur
Student id: 301144458
Date: 03-10-2021
*/

-->


<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
        <h1 class="display-3">Welcome to Gagandeep's Portfolio.</h1>
        <p class="lead">My mission is to live with positivity and gain experience from the successful people as much as I can. I want to create
             custom websites to enhance my practical skills..</p>
        <hr class="my-2">
        <p>Please click on the button below to know more about me.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/about" role="button">About Me</a>
        </p>
      </div>
  </main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>





