<!--
/*
File name:project.ejs
Student name: Gagandeep kaur
Student id: 301144458
Date: 03-10-2021
*/

-->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class = "container">
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="/Assests/images/chatsystem.png" alt="Project 1">
          <div class="card-body">
            <h4 class="card-title">Chat System (java based)</h4>
            <p class="card-text">
              It uses TCP socket communication. It consists of two parts: jClient (client application) and jServer (server application). 
              If both are running in same machine then the address to be given to jClient is local host address and if both are running on different machines then address to be provided to jClient is the ip address of machine in which jServer is running.
            </p>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/Assests/images/mobilevalue.jpg" alt="Project 2">
          <div class="card-body">
            <h4 class="card-title">Mobile Value Added Services - SMS & IVR</h4>
            <p class="card-text">
              To process and deliver SMS based value services SMSC platform is used by the telecom service providers and IVR acts as an automated telephony system that interacts with callers, gather information and route calls to the appropriate recipients.
            </p>
          </div>
        </div>
        
  </main>

  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>



       