<!--
/*
File name:services.ejs
Student name: Gagandeep kaur
Student id: 301144458
Date: 03-10-2021
*/

-->

<%- include partials/header.ejs %> 

 <%- include partials/main_nav.ejs %> 
  <!--Main Content-->
  <main>

<div class ="col-12">
<div class ="text-center">
<img class ="width = 50%" src ="/Assests/images/web app.jpg" />
</div>
<div class ="description">
<h3> Web application Development </h3>
<p>
We offer a wide range of web applications consulting services. It includes creating and delivering of
 custom web applications, we support businesses in different to cater their targeted audiences.
</p>
</div>
</div>

 

<div class ="col-12">
<div class ="text-center">
<img class ="width = 50%" src ="/Assests/images/desktop dvelopment.png" />
</div>
<div class ="description">
<h3> Desktop application Development </h3>
<p>
 We offer platform-specific or cross-platform desktop application development services which helps to turn your software idea into a reality.
</p>
</div>
</div>

 
<div class ="col-12">
<div class ="text-center">
</div>
<div class ="description">
<h3> Mobile application Development </h3>
<p>
we offer services which includes end-to-end development of mobile applications.UI/UX design to mobile application testing and deployment.
</p>
</div>
</div> 

</div>
</div>


</main>
<%- include partials/bottom_nav %> 
 <%- include partials/footer.ejs %> 
   

